/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #DED9DF; /* Couleur de fond principale */
}

header {
    padding: 1rem 0;
    text-align: center;
    position: relative;
}

header .logo {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 50px;
}

header h1 {
    margin: 0;
    color: #DED9DF; /* Couleur du texte en-tête */
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: #DED9DF; /* Couleur des liens de navigation */
    text-decoration: none;
}

main {
    padding: 2rem;
    text-align: center;
}

section#banner img {
    width: 100%;
    height: auto;
    display: block;
}

section#cta {
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section#cta h2 {
    color: #DED9DF; /* Couleur du titre de la section */
}

section#cta .community-image {
    margin-top: 1rem;
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 8px;
}

form {
    display: inline-block;
    margin-top: 1rem;
    background: #DED9DF; /* Couleur de fond du formulaire */
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label, input, button {
    display: block;
    margin: 0.5rem 0;
}

input, button {
    padding: 0.5rem;
    width: 100%;
    max-width: 300px;
}

button {
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #03588C; /* Couleur de fond au survol */
}

footer {
    text-align: center;
    padding: 1rem 0;
}

footer .social-icons {
    margin-top: 1rem;
}

footer .social-icons a {
    margin: 0 0.5rem;
}

footer .social-icons img {
    width: 24px;
    height: 24px;
}
